* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.806);
}

form {
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(auto) + 100px;
    height: 500px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

form input {
    height: 30px;
    width: auto;
    padding: 20px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    font-size: 16px;
}

.btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name,
.email,
.id {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #4B8BBE;
    width: auto;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    color: white;
    font-size: 20px;
}

.id {
    margin-top: -10px;
}

.name:hover,
.email:hover,
.id:hover {
    background-color: #5d96c5;
}

.form {
    height: 100vh;
}


form button {
    width: auto;
    height: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    cursor: pointer;
    padding: 10px;
    width: 204px;
    border: none;
    background-color: #5CB85C;
    color: white;
    font-weight: bold;
}


form button:hover {
    color: #5CB85C;
    background-color: rgb(229, 227, 227);
}

#deleteAllUsers {
    background-color: #DC3545;
}

#deleteAllUsers:hover {
    background-color: rgb(229, 227, 227);
    color: #DC3545;
}

h1 {
    color: white;
    margin-top: 30px;
    font-size: 60px;
    text-align: center;
}

#usersData {
    margin-top: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h1:nth-child(1) {
    margin-bottom: 20px;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.users-data {
    height: 100vh;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    position: relative;
}

.email {
    margin-bottom: 20px;
}

#usersData {
    display: inline-block;
    padding-bottom: 150px;
}

.return {
    position: fixed;
    width: 100px;
    height: 100px;
    z-index: 0;
    right: 20px;
    bottom: 30px;
    margin-top: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #5CB85C;
}

.return a {
    border: none;
    font-weight: 800;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: cursive
}


.editButton {
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 50px;
    border: none;
    background-color: #5cb85c;
    padding: 5px 10px;
    color: white;
}

.deleteButton {
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    background-color: #dc3545;
    padding: 5px 10px;
    text-align: center;
    color: white;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border: solid;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#searchInput {
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 10px;
    width: 250px;
}

.nameEdit,
.IDEdit,
.emailEdit {
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
}

.updateButton {
    margin-top: 10px;
    background-color: white;
    border-radius: 50px;
    width: 100%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border: none;
    background-color: #5c87b8;
    padding: 5px 10px;
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.userText {
    background-color: #5c87b8;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
}

.deleteDiv {
    margin-top: -35px;
    padding: 20px;
    background-color: #e46b77;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.timePara {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.undoBtn {
    font-size: 30px;
    padding: 20px;
    background-color: #313131;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    color: white;
    font-weight: bold;
}
